.left {
    float: left;
}

.right {
    float: right;
}

.navigator {
    margin-top: 24px;
    margin-right: 24px;
}

.container {
    width: 96%;
    padding: 12px;
    text-align: center;
}

.input-form {
    width: 50%;
    margin: 24px auto;
}

.del {
    margin-right: 90px;
}

.single {
    width: 70%;
    text-align: right;
}

